<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link type="text/css" rel="stylesheet" href="css/styles.css" media="all" />
        <script src="client/phaser.min.js"></script>
    </head>
    <body style="width:100%;height:100%">
        <div id="area" style="width:100%;height:100%"></div>
        <script src="client/start.js"></script>
    </body>
</html>